.first-page-text {
    font-size: 48px !important;
}

.second-page-text {
    font-size: 48px !important;
}

.header-divider {
    height: 140px !important;
}

.center-divider {
    height: 40% !important;
}


.second-page-apple-core {
    position: fixed;
    left: 7%;
    bottom: 20%;
}

.second-page-fish {
    position: fixed;
    left: 14%;
    bottom: 50%;
}



.twt-perc-divider {
    margin-top: 20% !important;
}

.thd-perc-divider {
    margin-top: 30% !important;
}


.fft-perc-divider {
    margin-top: 15% !important;
}

.ten-perc-divider {
    margin-top: 10% !important;
}


.white-text {
    color: white !important;
}

.form-font {
    font-size: 18px !important;
}

/*
    backgroundColor: '#22CADE' Bl,
    backgroundColor: '#EA904F' Or,
    backgroundColor: '#B5D43C' Ve,

*/